
<div class="container gap-3">
  <div class="row d-flex ">
  {% for project in site.data.projects %} 

    {% assign name = project[0] %}
    {% assign game = site.data.projects[name] %}
    {% assign priority = game.priority %}
    {% assign types = "" %}
    {% assign mainType = game.types | first %}
    {% assign mainType = mainType.type %}
    {% assign hasCorrectType = "false" %}

    {% for cat in game.types %}
      <!-- append descriptor tags for javascript -->
      {% if cat.type == mainType %}
        {% assign types = types | append: cat.type %}
      {% else %}
        {% assign types = types | append : "-" | append: cat.type %}
      {% endif %}

      {% if cat.type == include.type %}
        {% assign hasCorrectType = "true" %}
      {% endif %}

    {% endfor %}

    {% if hasCorrectType == "true" or include.type == "all" %}    
      {% case include.size %}
        {% when "spread" %}
          {% case priority %}
            {% when 2 %}
            {% assign size = 6 %}
            {% when 1 %}
              {% assign size = 4 %}
            {% else %}
              {% assign size = 2 %}
          {% endcase %}
        {% when "medium" %}
            {% case priority %}
              {% when 2 %}
                {% assign size = 3 %}
              {% when 1 %}
                {% assign size = 2 %}
              {% else %}
                {% assign size = 1 %}
          {% endcase %}
        {% else %}
              {% assign size = 1 %}
      {% endcase %}

      <div name= "{{types}}-button" class="grow col-lg-{{size}} col-md-{{size}} col-sm-12 col-12 column p-2 hidden d-flex justify-content-center"
        onclick="location.href='{{project[1].breakdown-url}}';"
        style="cursor: pointer; background-image: url('../assets/img/thumbnails/{{project[1].key}}.png'); background-size: contain;">

        <div style="cursor: pointer; background-image: url('../assets/img/icons/{{mainType}}-faded.svg'); background-size: contain;"
          class="project-button-icon">
          <div class="project-text-container">
              <h4>{{name}}</h4>
              {% if include.size == "spread" %}
              <p>{{game.project-blurb}}</p>
              {% endif %}
            </div>
          <!--
          <img src = '/assets/img/icons/{{mainType}}-faded.svg' alt = {{types}} class="project-button-icon">
          -->
          </div>
        </div>
    {% endif %}
  {% endfor %}
  </div>
</div>
  
